
// Body
$body-bg: #2C3E50;

// Navbar

$navbar-default-brand-color: white;
$navbar-default-brand-hover-color: white;
$navbar-default-bg: #415b76;

// Buttons

$btn-primary-bg:  #48c9b0;
$btn-danger-bg: #415b76;